// Titles
.c-ttl {
  margin: 0;

  // Sizes of title
  &-default {
    //@include font-size(16);
  }

  &-s19 {
    //@include font-size(19);
  }

  &-h1 {
    font-size: 45px;
    font-weight: $font-weight-bold;
  }

  // Specific targets
}
