.o-contactList {
  position: relative;
  padding-right: 1.2rem;
  margin-right: 1.2rem;
  opacity: 0.6;

   &_item {
   font-size: .875rem;
 }

  .c-icon {
  margin-right: .4rem;
  }

  &_item .c-link {
    padding: .4375rem 0;
  }

  &_item + .o-contactList_item{
    margin-left: 2rem;
  }

}
.o-contactList:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  bottom: auto;
  border-right: 1px solid $white;
  width: 10px;
  height: 20px;
  opacity: 0.4;
}
